.button-custom-style {
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
    color: var(--main-light-color);
    transition: all .2s;
    width: 100%;
}

.btn-secondary {
    --bs-btn-active-color: var(--main-light-color);
    --bs-btn-active-bg: var(--main-dark-color);
}