.buttonStyle {
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
    color: white;
    transition: all .2s;
    width: 100%;
}

.btn-secondary {
    --bs-btn-active-color: white;
    --bs-btn-active-bg: var(--main-dark-color);
}