.education-images {
    height: 80px;
    width: relative;
    transition: transform .2s;
    transform-origin: 50% 50%;
    margin: 0 auto;
}

.education-card-links {
    font-size: 1.25rem;
    color: var(--main-dark-color);
}