.footerIcon {
  color: var(--main-dark-color);
}

#Logo_Frunza_Dan {
  max-width: 30%;
  height: auto;
  filter: drop-shadow(2px 2px var(--main-red-color));
  transition: all .2s;
  transform-origin: 50% 50%;
}

.footersubdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 2%;
}

#ulfooterid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: none;
}

#footerDiv {
  margin: none;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 2rem;
}

/* SMALL SCREENS: */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #Logo_Frunza_Dan {
    max-width: 20%;
    height: auto;
  }
}

/* VERY SMALL SCREENS: */
@media only screen and (max-width: 576px) {
  #Logo_Frunza_Dan {
    max-width: 20%;
    height: auto;
  }
}