.hover-link {
    display: inline-block;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.skill-hover-item {
    position: relative;
    transition: all .2s;
    transform-origin: 50% 50%;
}

@media (pointer: fine) {
    .hover-link:hover {
        transform: scale(1.1);
        color: var(--main-red-color);
    }


    .education-images:hover {
        transform: scale(1.1);
    }


    .card:hover {
        transform: scale(1.02);
        filter: drop-shadow(10px 10px var(--main-red-color));
    }

    .skill-hover-item:hover {
        transform: scale(1.1);
    }

    #navbarBrand:hover {
        transform: scale(1.1);
        filter: drop-shadow(4px 4px var(--main-red-color));
    }

    #logo-Frunza-Dan:hover {
        transform: scale(1.1);
        filter: drop-shadow(4px 4px var(--main-red-color));
    }

    a:hover {
        text-decoration: none;
    }

    #left-contact-card:hover {
        background-color: var(--main-light-color);
        color: var(--main-dark-color);
        border-radius: 5px;

        .card-contact-text {
            color: var(--main-dark-color);
        }

        .contact-icons-card {
            color: var(--main-dark-color);
        }
    }

    #github-card:hover {
        cursor: pointer;
        background-color: var(--main-dark-color);
        color: var(--main-light-color);
        border-radius: 5px;

        #github-logo {
            filter: invert(1);
        }

        #github-text {
            color: var(--main-light-color);
        }
    }

    #youtube-card:hover {
        cursor: pointer;
        background-color: var(--main-red-color);
        color: var(--main-light-color);
        border-radius: 5px;

        #youtube-text {
            color: var(--main-light-color);
        }

        filter: drop-shadow(10px 10px var(--main-dark-color)) !important;
    }

    .skills-second-style:hover .skill-percentage:hover {
        background-color: var(--main-red-color);
        border: 2px solid var(--main-light-color);
    }

    .skills-second-style:hover .skill-container:hover {
        background-color: transparent;
        border: 1px solid var(--main-red-color);
    }

    .hover-nav-item:hover {
        transform: scale(1.1);
        color: var(--main-red-color);
        text-shadow: 1px 1px var(--main-dark-color);
    }

    .hover-nav-item:active {
        transform: scale(1.2);
        color: var(--main-dark-color);
        text-shadow: 1px 1px var(--main-red-color);
    }

    .item-company:hover {
        transform: scale(1.1);
        color: var(--main-red-color);
    }

    .button-custom-style:hover {
        background-color: var(--main-light-color);
        color: var(--main-dark-color);
        border-color: var(--main-dark-color);
    }
}

@media (hover: none),
(pointer: coarse) {
    .hover-link:active {
        transform: scale(1.1);
        color: var(--main-red-color);
    }

    .education-images:active {
        transform: scale(1.1);
    }

    .card:active {
        transform: scale(1.02);
        filter: drop-shadow(10px 10px var(--main-red-color));
    }

    .skill-hover-item:active {
        transform: scale(1.1);
    }

    #navbarBrand:active {
        transform: scale(1.1);
        filter: drop-shadow(4px 4px var(--main-red-color));
    }

    #logo-Frunza-Dan:active {
        transform: scale(1.1);
        filter: drop-shadow(4px 4px var(--main-red-color));
    }

    a:active {
        text-decoration: none;
    }

    #left-contact-card:active {
        background-color: var(--main-light-color);
        color: var(--main-dark-color);

        .card-contact-text {
            color: var(--main-dark-color);
        }

        .contact-icons-card {
            color: var(--main-dark-color);
        }
    }

    #github-card:active {
        cursor: pointer;
        background-color: var(--main-dark-color);
        color: var(--main-light-color);
        border-radius: 5px;

        #github-logo {
            filter: invert(1);
        }

        #github-text {
            color: var(--main-light-color);
        }
    }

    #youtube-card:active {
        cursor: pointer;
        background-color: var(--main-red-color);
        color: var(--main-light-color);
        border-radius: 5px;

        #youtube-text {
            color: var(--main-light-color);
        }

        filter: drop-shadow(10px 10px var(--main-dark-color)) !important;
    }

    .skills-second-style:active .skill-percentage:active {
        background-color: var(--main-red-color);
        border: 2px solid var(--main-light-color);
    }

    .skills-second-style:active .skill-container:active {
        background-color: transparent;
        border: 1px solid var(--main-red-color);
    }

    .hover-nav-item:active {
        transform: scale(1.1);
        color: var(--main-red-color);
        text-shadow: 1px 1px var(--main-dark-color);
    }

    .item-company:active {
        transform: scale(1.1);
        color: var(--main-red-color);
    }

    .button-custom-style:active {
        background-color: var(--main-light-color);
        color: var(--main-dark-color);
        border-color: var(--main-dark-color);
    }
}